


/* Dark Mode Theme */
body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Sticky navigation bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}
.navbar a:hover {
  color: #fff;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #f2f2f2;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #5f5e5e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.chat-box {
  scroll-behavior: smooth;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #5f5e5e;
  border: 1px solid #202020;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #5f5e5e;
}
.input-box input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #5f5e5e;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}
.input-box button {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.response-box {
  padding: 10px;
  background-color: #5f5e5e;
  border: 1px solid #fff;
  border-radius: 4px;
}

.special_char {
  border: 1px #fff;
}