{% extends "templates/base.html" %}


{% block title %} 
LangTutor

{% endblock %}


{% block content %}
<div class="container" style="color: black;">
    <h>What is this site?</h>
    <p>
        This is a personal project Henry Carscadden. I created this site as a way to play around with using LLMs (Large Language Model) and as a
        to have to practice German with at my disposal. Unfortunately, I have the chat function disabled except by request to prevent abuse of my
        API tokens. If you have any questions about this site or would wish to contact me about any potential opportunities, I can be reached at
        hcarscad@gmail.com. 
    </p>
</div>

{% endblock %}