{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <a href="">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        &copy; 2023 LangTutor
    </div>
</body>
</html>