{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username" style="text-align: left;">Username:</label>
        <input type="text" id="username" name="username" style="width: 100%; max-width: 300px;"><br><br>
        <label for="password" style="text-align: left;">Password:</label>
        <input type="password" id="password" name="password" style="width: 100%; max-width: 300px;"><br><br>
        <input type="submit" value="Login">
    </form>
{% endblock %}